# Ignorar todos los datasets
datasets/

# Ignorar carpetas de experimentos y modelos pesados
KAIR/superresolution/
KAIR/model_zoo/
KAIR/experiments/

# Ignorar cualquier archivo de pesos por seguridad
*.pth

# Ignorar los entornos de Python
/tfg_swinir/
__pycache__/