# Ignorar todos los datasets
datasets/

# Ignorar los entornos de Python
/tfg_swinir/
__pycache__/

# Ignorar los resultados de experimentos de KAIR
KAIR/experiments/
KAIR/results/

# Ignora los archivos .lmdb que crearemos
*.lmdb